export APP_URL=http://localhost:4321
export NODE_ENV=development

export REDIS_CONNECTION_STRING="rediss://default:57e6fff7073e4a48a732aaaedeabdf24@apn1-social-boxer-35233.upstash.io:35233"
export APP_NAME=portfolio
export COUNTER_API_KEY="b3JkZXJzZWNyZXQ="
