# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
vite.config.ts.timestamp*

# macOS-specific files
.DS_Store

# obsidian directory
.obsidian/
.trash/

# Temp files and folders
generated/
.tmp
tmp/
*.log
.vercel
*.tsbuildinfo


# Ignore cache
cache/
.cache/

# Cloudflare
functions/**/*.js

*.css
