---
import Root from "@/layouts/Root.astro";
import PostsGrid from "@/components/PostsGrid.astro";
import {getMarkdowns} from "@/content";

const posts = getMarkdowns(await Astro.glob("../../../blog/**/*.{md,mdx}"));
---

<Root>
	<div
		class:list={[
			"mx-auto h-full max-w-6xl overflow-clip",
			"grid grid-cols-1",
			"gap-4 p-4 sm:gap-8 sm:p-8",
			"lg:grid-cols-[minmax(0,1fr),18.75rem]",
		]}
	>
		<div class="w-full relative">
			<PostsGrid posts={posts} />
		</div>

		<aside class="space-y-4">
			<div class="h-full glass"></div>
		</aside>
	</div>
</Root>
