---
import type {ReadTime} from "@/content";
interface Props {
	readtime?: ReadTime;
}

const {readtime} = Astro.props;
---

<div class="flex items-center gap-1 rounded-badge p-2">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		fill="none"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="h-5 w-5 stroke-base-content"
	>
		<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
		<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
		<path d="M12 12h3.5"></path>
		<path d="M12 7v5"></path>
	</svg>

	<div>
		{readtime?.text ?? "few mins read"}
	</div>
</div>
