---
import type {ReadTime} from "@/content";
import {Icon} from "astro-icon/components";
interface Props {
	readtime?: ReadTime;
}

const {readtime} = Astro.props;
---

<div class="flex items-center gap-2 rounded-badge p-2">
	<Icon name="tabler:clock" size={20} />
	<div>
		{readtime?.text ?? "few mins read"}
	</div>
</div>
