@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] .btn,
.tab {
	@apply border-base-200;
}

[data-theme="dark"] .btn,
.tab {
	@apply border-base-200;
}

/* Text Selection And Selected Text Background Color */
*::selection {
	@apply bg-base-content text-base-100;
}

*::-moz-selection {
	@apply bg-base-content text-base-100;
}

*::-webkit-selection {
	@apply bg-base-content text-base-100;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
	@apply h-2 w-[10px];
}

::-webkit-scrollbar-track {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply rounded-btn bg-base-content/50 bg-clip-content;
}

@layer utilities {
	.fade-bottom {
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
		--webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
	}

	.fade-right {
		mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
		--webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
	}

	.fade-left {
		mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
		--webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
	}

	.fade-top {
		mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
		--webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
	}

	.fade-none {
		mask-image: none;
		--webkit-mask-image: none;
	}
}
