---
import Container from "./Container.astro";
---

<script>
	import {getCollection} from "astro:content";
	import {toPosts, type Post} from "@/content";
	const collection = await getCollection("blog");
	const posts = toPosts(collection);
	const res = await fetch("/api/views");
	const all = await res.json();
	const sorted = all.data.sort((a: any, b: any) => b.views - a.views).slice(0, 4);
	const popular: Post[] = sorted.map((views: any) => posts.find((p: any) => p.slug === views.path));

	const ele = document.getElementById("most-viewed-posts");
	if (ele) {
		while (ele.firstChild) {
			ele.removeChild(ele.firstChild);
		}

		popular.forEach((post) => {
			const li = document.createElement("li");
			const link = document.createElement("a");
			link.href = `/blog/${post.slug}`;
			link.textContent = post.title;
			link.classList.add(
				"p-2",
				"text-sm",
				"block",
				"font-title",
				"rounded-btn",
				"text-neutral-content",
				"hover:text-base-content"
			);

			li.appendChild(link);
			ele.appendChild(li);
		});
	}
</script>

<Container>
	<div slot="header" class="w-fit select-none">
		<div class="relative ml-4 bg-base-100 pr-1.5 font-title text-sm font-light uppercase">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="mx-1 inline h-4 w-4 stroke-base-content group-hover:stroke-accent"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M3 17l6 -6l4 4l8 -8"></path>
				<path d="M14 7l7 0l0 7"></path>
			</svg>
			Most
		</div>
	</div>

	<details open slot="body" id="toc-details">
		<summary
			data-tip='Click on "Viewed" to toggle'
			class:list={[
				"flex cursor-pointer select-none items-center pb-2 pl-6 pr-2 text-3xl",
				"uppercase text-accent",
				"tooltip w-full group-hover:tooltip-open lg:tooltip-left",
			]}
		>
			Viewed
		</summary>

		<ul id="most-viewed-posts" class="flex flex-col px-4 pb-4">
			{
				Array.from({length: 4}).map(() => {
					return (
						<li class="border border-transparent py-2">
							<div class="skeleton h-4 w-full" />
							<div class="skeleton my-1.5 h-4 w-3/4" />
							<div class="skeleton h-4 w-1/2" />
						</li>
					);
				})
			}
		</ul>
	</details>
</Container>
