---
import {Image} from "astro:assets";
import image from "../../assets/ankur.png";
import arrow from "../../assets/arrow-1.svg";
---

<div class="min-w-64">
	<div
		class:list={[
			"transition-all duration-300 ease-in-out",
			"group/card relative h-full space-y-4 overflow-clip p-14  pb-20",
			"bg-gradient-to-b from-accent/70 via-accent/60 to-accent/30",
			"rounded-bl-[40px] rounded-br-[30px] rounded-tl-md rounded-tr-[50px]",
			"hover:rounded-bl-[80px] hover:rounded-br-[10px] hover:rounded-tl-[10px] hover:rounded-tr-[40px]",
			"@2xl:min-h-auto min-h-[400px] w-full @2xl:w-auto",
		]}
	>
		<div
			class:list={[
				"absolute -top-[20%] left-[2%]",
				"transition-all duration-300 ease-in-out",
				"group-hover/card:left-[10%] group-hover/card:top-[18%]",
			]}
		>
			<Image src={arrow} alt="arrow" class:list={["w-10 rotate-45"]} />
		</div>

		<div
			class:list={[
				"font-rocksalt absolute -top-[20%] left-[2%] text-lg",
				"group-hover/card:left-[24%] group-hover/card:top-[8%]",
				"transition-all duration-300 ease-in-out",
			]}
		>
			This is me
		</div>

		<div
			class:list={[
				"absolute -bottom-28 left-0 right-0",
				"transition-all duration-300 ease-in-out",
				"group-hover/card:-bottom-44 group-hover/card:scale-105",
				"group-hover/card:brightness-110",
			]}
		>
			<Image
				src={image}
				alt="Ankur Kumar"
				class:list={[
					"w-[256px]",
					"transition-all duration-300 ease-in-out",
					"group-hover/card:drop-shadow-xl",
				]}
			/>
		</div>
	</div>
</div>
