---
import {site} from "@/lib/constants";
import Link from "@/components/Link.astro";
import FillAnimatedButton from "@/components/Buttons/FillAnimated.astro";
---

<section class="mb-20">
	<div
		aria-hidden="true"
		class:list={[
			"absolute top-0 z-[-1] mx-auto h-[76vh] w-full md:w-[90vw]",
			"bg-gradient-to-t from-base-100 via-accent/15 to-base-100 dark:via-accent/10",
			"transition-all duration-300 ease-in-out",
			"rounded-br-[66vw] rounded-tl-[66vw]",
			"dark:rounded-none dark:rounded-bl-[66vw] dark:rounded-tr-[66vw]",
		]}
	>
	</div>

	<div
		class:list={[
			"px-4 py-2 xl:px-0 xl:py-0",
			"relative mx-auto  @container lg:max-w-7xl",
			"flex justify-center lg:flex-row-reverse",
			"flex-col-reverse justify-center",
			"mt-20 sm:mt-32",
		]}
	>
		<div class="relative w-[80vw] max-w-md flex-1"></div>

		<div class:list={["relative h-full w-full max-w-2xl flex-1"]}>
			<p class="font-title text-4xl font-light tracking-wide sm:text-5xl">Hello There, I'm</p>

			<h1
				class:list={[
					"mt-4 font-rocksalt text-4xl font-light tracking-wide sm:text-5xl md:text-6xl",
				]}
			>
				{site.author.fullName}
			</h1>

			<p class:list={["mt-8 text-lg sm:max-w-2xl sm:text-xl"]}>
				A self-driven full-stack developer with a strong focus on developing high performance
				backend APIs and microservices using latest and greatest technologies.
			</p>

			<div class="mt-8 flex max-w-sm items-center gap-2">
				<Link href="/blog" aria-label="Read blog">
					<FillAnimatedButton> Read Blog </FillAnimatedButton>
				</Link>

				<Link
					href="/pdfs/ankur-kumar-resume.pdf"
					target="_blank"
					aria-label="My Journey"
					class="flex-grow"
				>
					<FillAnimatedButton
						class_="w-full bg-accent btn-accent text-base-100 dark:text-base-content dark:hover:text-base-100"
					>
						Resume
					</FillAnimatedButton>
				</Link>
			</div>
		</div>
	</div>
</section>
