---
// import Link from "@/components/Link.astro";

// <p class:list={["max-w-sm text-lg sm:max-w-xl sm:text-xl lg:text-2xl"]}>
// 				A self-driven full-stack developer with a strong focus on developing high performance
// 				backend APIs and microservices using latest and greatest technologies.
// 			</p>
---

<section class="mb-20">
	<div
		aria-hidden="true"
		class:list={[
			"absolute top-0 isolate z-[-1] mx-auto h-[76vh] w-full md:w-[90vw]",
			"bg-gradient-to-t from-base-100 via-accent/15 to-base-100 dark:via-accent/10",
			"transition-all duration-300 ease-in-out",
			"rounded-br-[66vw] rounded-tl-[66vw]",
			"dark:rounded-none dark:rounded-bl-[66vw] dark:rounded-tr-[66vw]",
		]}
	>
	</div>

	<div class:list={["px-4"]}>
		<header>
			<h1 class:list={["text-4xl font-bold text-black"]}>
				Hey There, I am <br />
				<span> Ankur Kumar </span>
			</h1>
		</header>
	</div>
</section>
