---
// import Link from "@/components/Link.astro";

// <p class:list={["max-w-sm text-lg sm:max-w-xl sm:text-xl lg:text-2xl"]}>
// 				A self-driven full-stack developer with a strong focus on developing high performance
// 				backend APIs and microservices using latest and greatest technologies.
// 			</p>
---

<section class="mb-20">
	<div class:list={["px-4"]}>
		<header>
			<h1 class:list={["text-4xl font-bold text-black"]}>
				Hey There, I am <br />
				<span> Ankur Kumar </span>
			</h1>
		</header>
	</div>
</section>
