---
import Image from "@/components/images/QwikImage";
import FillAniButton from "@/components/buttons/FillAniButton.astro";
import Link from "@/components/Link.astro";
const img = "https://avatars.githubusercontent.com/u/18713058?v=4";
---

<section class="h-screen">
	<div
		class:list={[
			"relative mt-[8vw] flex flex-col items-center gap-8 p-4 @container sm:p-8 lg:mt-32",
			"mx-auto max-w-6xl md:flex-row-reverse md:items-center md:justify-center",
		]}
	>
		<Image src={img} alt="Ankur" class:list={["max-w-[60vw] sm:max-w-sm"]} />

		<div class="h-full flex-1 space-y-8">
			<h1 class:list={["text-center font-rocksalt text-4xl md:text-left", "@3xl:text-5xl"]}>
				Ankur Kumar
			</h1>

			<p class:list={["text-lg sm:text-xl lg:text-2xl"]}>
				A self-driven full-stack developer with a strong focus on developing high performance
				backend APIs and microservices using latest and greatest technologies.
			</p>

			<div class="flex items-center">
				<Link href="#contact">
					<FillAniButton> Contact Me </FillAniButton>
				</Link>
			</div>
		</div>
	</div>
</section>
