---
interface Props {
	text: string;
	colored: string;
	description: string;
}

const {text, colored, description} = Astro.props;
---

<style>
	@media (prefers-reduced-motion: no-preference) {
		.section-heading span {
			background-size: 0% 100%;
			animation: scroll-reveal linear forwards;
			animation-timeline: view();
			@apply bg-clip-text bg-no-repeat text-base-content/20;
		}

		.section-heading h3 .nocolor {
			animation-range-start: cover 30vh;
			animation-range-end: cover 35vh;
		}
		.section-heading h3 .colored {
			animation-range-start: cover 35vh;
			animation-range-end: cover 40vh;
		}

		.section-heading p span {
			animation-range-start: cover 36.5vh;
			animation-range-end: cover 56vh;
		}

		@keyframes scroll-reveal {
			to {
				background-size: 100% 100%;
			}
		}
	}
</style>

<div class="section-heading p-4 max-w-6xl mx-auto">
	<h3 class="text-4xl sm:text-5xl font-bold">
		<span class="nocolor bg-gradient-to-r from-base-content to-base-content">
			{text}
		</span>
		<span class="colored bg-gradient-to-r from-primary to-accent">
			{colored}
		</span>
	</h3>
	<p class="max-w-md mt-2 sm:text-2xl">
		<span class="bg-gradient-to-r from-base-content to-base-content">
			{description}
		</span>
	</p>
</div>
