---
import Root from "@/layouts/Root.astro";
---

<Root title="About">
	<div
		class:list={[
			"mx-auto h-full max-w-7xl overflow-clip",
			"grid grid-cols-1",
			"gap-4 p-4 sm:gap-8 sm:p-8",
			"lg:grid-cols-[minmax(0,1fr),18.75rem]",
		]}
	>
		About Page
	</div>
</Root>
