---
import Root from "@/layouts/Root.astro";
---

<Root title="About">
	<div
		class:list={[
			"mx-auto h-full w-full max-w-7xl overflow-clip",
			"grid grid-cols-1",
			"gap-4 p-4 sm:gap-8 sm:p-8",
		]}
	>
		<h1
			role="heading"
			data-weight="50"
			data-pagefind-meta="title"
			data-pagefind-sort="weight[data-weight]"
			class="font-title text-2xl font-light @xs:text-3xl @md:text-4xl @4xl:text-6xl"
		>
			About Me
		</h1>
	</div>
</Root>
