---
import Root from "@/layouts/Root.astro";
import PageFind from "@/components/PageFind.astro";

import ScrollListScript from "@/components/Scripts/ScrollList.astro";
import SmoothScrollScript from "@/components/Scripts/SmoothScroll.astro";

import TechStackSection from "@/components/Sections/TechStack.astro";
import LatestUpdates from "@/components/Sections/LatestUpdates.astro";
import ProfileSection from "@/components/Sections/ProfileSection.astro";

import {getMatters, type Post} from "@/content";
const blog = await Astro.glob("../content/blog/*.md?(x)");
const posts = getMatters<Post>(blog);
---

<Root title="Homes" nocrumbs>
	<ProfileSection />
	<TechStackSection />
	<div class="px-4">
		<PageFind />
	</div>

	<LatestUpdates posts={posts} />

	<ScrollListScript slot="scripts" />
	<SmoothScrollScript slot="scripts" />
</Root>
