---

---

<label
	class:list={[
		"md:hidden z-[1]",
		"group/tgham relative px-5 py-3 overflow-clip rounded-btn",
		"text-base-content hover:text-base-200",
		"border-neutral/20 dark:border-neutral-content/40 border transition-all duration-300 ease-in-out",
		"after:transition-all after:duration-300 after:ease-in-out",
		"after:rounded-btn after:bg-base-content after:absolute after:h-full after:w-full after:content-['']",
		"after:-bottom-full after:left-0 hover:after:bottom-0",
		"swap swap-rotate flex items-center",
	]}
>
	<input id="tgham" type="checkbox" />

	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		fill="none"
		stroke-linecap="round"
		stroke-linejoin="round"
		class:list={[
			"swap-off absolute left-4 fill-current h-5 w-5 z-[1]",
			"transition-all duration-300 ease-in-out stroke-base-content group-hover/tgham:stroke-base-200",
		]}
	>
		<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
		<path d="M4 8l16 0"></path>
		<path d="M4 16l16 0"></path>
	</svg>

	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 24 24"
		stroke-width="1.5"
		fill="none"
		stroke-linecap="round"
		stroke-linejoin="round"
		class:list={[
			"swap-on absolute left-4 fill-current h-5 w-5 z-[1]",
			"transition-all duration-300 ease-in-out stroke-base-content group-hover/tgham:stroke-base-200",
		]}
	>
		<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
		<path d="M18 6l-12 12"></path>
		<path d="M6 6l12 12"></path>
	</svg>

	<span class="z-[1] ml-5">menu</span>
</label>

<script>
	const nm = document.getElementById("navmenu");
	const tg = document.getElementById("tgham") as any;
	tg?.addEventListener("click", () => {
		if (nm?.classList.contains("-top-[100vh]")) {
			nm?.classList.remove("-top-[100vh]");
			nm?.classList.add("top-0");
		} else {
			nm?.classList.add("-top-[100vh]");
			nm?.classList.remove("top-0");
		}
	});
	nm?.addEventListener("click", () => {
		tg.checked = false;
		if (nm?.classList.contains("-top-[100vh]")) {
			nm?.classList.remove("-top-[100vh]");
			nm?.classList.add("top-0");
		} else {
			nm?.classList.add("-top-[100vh]");
			nm?.classList.remove("top-0");
		}
	});
</script>
