---
import Link from "@/components/Link.astro";
import Logo from "@/components/Logo.astro";
import ToggleTheme from "@/components/ToggleTheme";

import Hamburger from "./Hamburger.astro";

const links = [
	{
		label: "Blog",
		href: "/blog",
	},
	{
		label: "Projects",
		href: "#projects",
	},
	{
		label: "Contact",
		href: "#contact",
	},
	{
		label: "About",
		href: "/about",
	},
];
---

<div>
	<div
		class:list={[
			"relative mx-auto w-full max-w-7xl px-4 py-5 @container md:px-8",
			"z-40 flex items-center justify-between",
		]}
	>
		<Logo />

		<div
			class:list={[
				"left-0 flex w-full justify-end",
				"md:relative md:left-auto md:top-auto md:h-auto",
				"gap-3 md:justify-end",
			]}
		>
			<div
				id="navmenu"
				class:list={[
					"fixed md:relative",
					"h-screen w-full md:h-auto md:w-fit",
					"-top-[100vh] left-0 md:left-auto md:top-auto",
					"transition-all duration-300 ease-in-out",
				]}
			>
				<nav
					class:list={[
						"gap-3 md:relative",
						"w-full md:h-auto md:w-fit",
						"flex flex-col items-end md:flex-row md:items-center md:justify-end",
						"pb-4 pr-[5vw] pt-28 md:pb-0 md:pr-0 md:pt-0",
						"transition-all duration-300 ease-in-out",
						"rounded-br-[13vw] md:rounded-br-none",
						"bg-base-100 md:bg-transparent",
						"border-2 border-base-200 md:border-transparent",
					]}
				>
					{
						links.map((link) => {
							return (
								<Link
									aria-label={`Go to ${link.label}`}
									key={link.label}
									href={link.href}
									class:list={[
										"group/tgthm relative overflow-clip px-4 py-2",
										"text-base-content md:hover:text-base-200",
										"transition-all duration-300 ease-in-out",
										// "md:border md:border-base-300",
										"md:after:transition-all md:after:duration-300 md:after:ease-in-out",
										"after:w-full after:content-[''] md:after:absolute md:after:h-full md:after:rounded-btn md:after:bg-base-content",
										"md:after:-bottom-full md:after:left-0 md:hover:after:bottom-0",
										"text-[7vw] font-bold md:text-base md:font-light",
										"rounded-btn after:rounded-btn",
									]}
								>
									<span class="relative z-[1]">{link.label}</span>
								</Link>
							);
						})
					}
				</nav>
			</div>

			<ToggleTheme />
			<Hamburger />
		</div>
	</div>
</div>
