---
import Link from "@/components/Link.astro";
import Logo from "@/components/Logo.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher";

const links = [
	{
		label: "Home",
		href: "/",
	},
	{
		label: "Blog",
		href: "/blog",
	},
	// {
	// label: "About",
	// href: "/about",
	// },
];
---

<div>
	<div
		class:list={[
			"relative z-40 mx-auto w-full max-w-6xl px-6 py-5 xl:px-0",
			"flex items-center justify-between gap-2 @container",
		]}
	>
		<Logo />

		<div class="flex items-center gap-4">
			<nav class:list={["relative hidden items-center gap-2 md:flex"]}>
				{
					links.map((link) => {
						return (
							<Link
								aria-label={`Go to ${link.label}`}
								key={link.label}
								href={link.href}
								class:list={[
									"group/tgthm relative overflow-clip px-4 py-2",
									"text-base-content md:hover:text-base-200",
									"transition-all duration-300 ease-in-out",
									// "md:border md:border-base-300",
									"md:after:transition-all md:after:duration-300 md:after:ease-in-out",
									"after:w-full after:content-[''] md:after:absolute md:after:h-full md:after:rounded-btn md:after:bg-base-content",
									"md:after:-bottom-full md:after:left-0 md:hover:after:bottom-0",
									"text-[7vw] font-bold md:text-base md:font-light",
									"rounded-btn after:rounded-btn",
								]}
							>
								<span class="relative z-[1]">{link.label}</span>
							</Link>
						);
					})
				}
			</nav>
			<ThemeSwitcher />
		</div>
	</div>
</div>
