---
import Link from "@/components/Link.astro";
const links = [
	{
		label: "Home",
		href: "/",
	},
	{
		label: "Blog",
		href: "/blog",
	},
	{
		label: "About",
		href: "#about",
	},
];
---

<script>
	// @ts-nocheck
	let tabs = document.querySelectorAll(".tab");
	let indicator = document.querySelector(".indicator");

	indicator.style.width = tabs[0].getBoundingClientRect().width + "px";
	indicator.style.left =
		tabs[0].getBoundingClientRect().left -
		tabs[0].parentElement.getBoundingClientRect().left +
		"px";

	tabs.forEach((tab) => {
		tab.addEventListener("click", () => {
			indicator.style.width = tab.getBoundingClientRect().width + "px";
			indicator.style.left =
				tab.getBoundingClientRect().left - tab.parentElement.getBoundingClientRect().left + "px";
		});
	});
</script>

<div
	role="tablist"
	aria-label="tabs"
	class:list={[
		"relative grid h-12 grid-cols-3 items-center",
		"rounded-full bg-base-200 drop-shadow-md",
	]}
>
	<div
		class:list={[
			"indicator absolute bottom-0 left-0 top-0 my-auto h-11 rounded-full bg-white shadow-md",
			"transition-all duration-300 ease-in-out",
		]}
	>
	</div>
	{
		links.map((link, index) => {
			return (
				<Link
					href={link.href}
					role="tab"
					id={`navtab${link.href}`}
					tabindex={index}
					class="tab relative block h-10 rounded-full px-6"
				>
					<span class="text-gray-800">{link.label}</span>
				</Link>
			);
		})
	}
</div>
