---
import Image from "@/components/images/QwikImage";

interface Props {
	src: string;
	alt: string;
	banner_y?: number;
}

const {src, alt, banner_y = 0.5} = Astro.props;
const top = banner_y * 93;
---

<div class="relative h-[40vw] max-h-[400px] w-[95vw] overflow-clip">
	<div
		class:list={[
			"absolute bottom-0 left-0 h-full w-full",
			"bg-gradient-to-t from-base-100 to-transparent",
			"z-10 transition duration-1000 ease-in-out group-hover/img:z-0",
		]}
	>
	</div>

	<Image
		src={src}
		alt={alt}
		width={1200}
		style={{top: `-${top}%`}}
		class:list={[
			"absolute w-full group-hover/img:scale-110",
			"transition duration-1000 ease-in-out",
		]}
	/>
</div>
