---
import {Img as Picture} from "astro-imagetools/components";
---

<div class="fixed top-0 isolate">
	<Picture
		src="/src/assets/header.png"
		alt="Header"
		height={400}
		width={1500}
		format="avif"
		placeholder="blurred"
		attributes={{
			img: {
				class: "mx-auto",
			},
		}}
	/>
</div>
