---
import type {HTMLAttributes} from "astro/types";

interface Props extends HTMLAttributes<"a"> {
	href: string;
	"aria-label": string;
	key?: string | number;
	nofocus?: boolean;
}

const {"class:list": className, class: class_, ...attrs} = Astro.props;
const {href, nofocus} = Astro.props;
---

<a
	{...attrs}
	class:list={[
		class_ ?? className,
		{
			"rounded-btn outline-none ring-offset-white focus:outline-none focus:ring-2 focus:ring-accent focus:ring-offset-2 dark:focus:ring-offset-black":
				!nofocus,
		},
	]}
	href={href}
>
	<slot>Link</slot>
</a>
