---
import {Img as Picture} from "astro-imagetools/components";
import Link from "@/components/Link.astro";
---

<Link href="/" aria-label="Go to Home">
	<div class="flex w-fit items-center gap-4">
		<figure class="w-12 max-w-12">
			<Picture
				src="/src/assets/sirjager.png"
				height={60}
				width={60}
				quality="100"
				placeholder="blurred"
				alt="Ankur Logo"
			/>
		</figure>
		<span class="font-rocksalt tracking-wider @xs:text-lg @sm:text-xl">Ankur Kumar</span>
	</div>
</Link>
