---

---

<div
	class="font-rocksalt pointer-events-none relative w-24 select-none text-lg sm:w-40 sm:text-2xl md:text-3xl"
>
	<div
		class:list={[
			"absolute right-0 top-[5%] h-14 w-14 rounded-full bg-accent/60 sm:h-[68px] sm:w-[68px] md:h-20 md:w-20",
			"transition duration-300 ease-in",
		]}
	>
	</div>
	<div class="relative font-bold">Ankur</div>
	<div class="relative ml-2 font-bold sm:ml-4 sm:mt-1">Kumar</div>
</div>
