---

---

<div class:list={["mx-auto min-h-[56px] max-w-6xl px-4 lg:px-2"]}>
	<div id="searchui" class:list={["relative min-h-[56px]", "mx-auto w-full max-w-6xl"]}></div>
</div>

<script is:inline>
	window.addEventListener("DOMContentLoaded", (_) => {
		new PagefindUI({
			element: "#searchui",
			resetStyles: false,
			debounceTimeoutMs: 50,
			showImages: true,
			showEmptyFilters: true,
		});
	});
</script>
