---
import {Icon} from "astro-icon/components";
---

<button
	id="scroll-to-top"
	title="Scroll to top"
	aria-label="Scroll to top"
	class:list={[
		"group fixed z-[99999] hidden p-2",
		"bottom-20 right-4 md:right-8 xl:right-12 ",
		"transition duration-300 ease-in-out",
		"bg-base-200 backdrop-blur-lg",
		"rounded-box border-2 border-base-300 hover:border-accent",
		"outline-none ring-offset-white focus:outline-none focus:ring-2 focus:ring-accent focus:ring-offset-2 dark:focus:ring-offset-black",
	]}
>
	<Icon name="tabler:circle-chevron-up" size={24} class="text-accent" />
</button>

<script is:inline data-astro-rerun>
	(function () {
		const ele = document.getElementById("scroll-to-top");
		window.addEventListener("scroll", () => {
			const scrollY = window.scrollY;
			const isHidden = ele?.classList.contains("hidden");
			if (scrollY > 200 && isHidden) {
				ele?.classList.remove("hidden");
			} else if (scrollY <= 200 && !isHidden) {
				ele?.classList.add("hidden");
			}
		});
		ele?.addEventListener("click", () => window.scrollTo({top: 0, behavior: "smooth"}));
	})();
</script>
