---
import "@/styles/scrollwatcher.css";
---

<div
	id="scrollwatcher"
	class:list={[
		"bg-gradient-to-r from-secondary via-accent to-primary",
		"fixed left-0 top-0 z-[99999] origin-left",
		"animate-scrollwatcher h-1 w-full dark:h-0.5",
	]}
>
</div>
