---
import {site} from "@/lib/constants";
const currentYear = new Date().getFullYear();
---

<div id="footer-copyright" class="space-x-4 p-2 font-body text-lg">
	&copy; <span id="current-year">{currentYear}</span>
	<span class="font-title">{site.title}</span>
</div>

<script>
	const ele = document.getElementById("current-year");
	if (ele) ele.innerHTML = `${new Date().getFullYear()}`;
</script>
