---
import Logo from "@/components/Logo.astro";
import {parseDate} from "@/lib/utils";
import FooterLinks from "./FooterLinks.astro";
import {site} from "@/lib/constants";

const year = parseDate(new Date().toISOString())?.year || new Date().getFullYear();
---

<div class="mt-36 w-full bg-base-100 text-base-content @container">
	<div class="grid @2xl:grid-cols-4">
		<div class="col-span-2 mx-auto flex max-w-lg items-center justify-end p-4">
			<div class="max-w-xl space-y-6">
				<div class="relative">
					<Logo />
				</div>
				<p>
					{site.description}
				</p>
			</div>
		</div>

		<div class="col-span-2 row-span-2 flex items-center p-4">
			<div class="w-full max-w-xl space-y-8">
				<div>
					<p class="font-bold uppercase">Newletter</p>
					<p class="text-4xl font-bold lg:text-5xl">
						Subscript to our <br /> Newsletter
					</p>
				</div>

				<form class="w-full">
					<fieldset class="form-control w-full">
						<div class="join">
							<input
								type="text"
								placeholder="mail@site.com"
								class="input join-item input-bordered w-full @5xl:input-lg"
							/>
							<button class="btn btn-primary join-item @5xl:btn-lg">Subscribe</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

		<div class="col-span-2 flex items-center justify-end p-16">
			<FooterLinks />
		</div>
	</div>
	<footer class="footer footer-center p-4 text-base-content">
		<aside>
			<p>Copyright © {year} - All right reserved by Ankur</p>
		</aside>
	</footer>
</div>
