@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Rock Salt";
	src: url("/fonts/rock-salt.woff2") format("woff2");
	font-weight: 400;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-100.woff2") format("woff2");
	font-weight: 100;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-300.woff2") format("woff2");
	font-weight: 300;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-400.woff2") format("woff2");
	font-weight: 400;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-700.woff2") format("woff2");
	font-weight: 700;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-900.woff2") format("woff2");
	font-weight: 900;
	display: swap;
}

[id^="mermaid-"] {
	.edgeLabel {
		@apply !bg-base-200 !text-base-content;
	}

	foreignObject {
		@apply !h-6;
	}

	rohmbus,
	polygon,
	rect,
	circle,
	triangle {
		@apply !fill-base-200 !stroke-base-content/30;
	}

	line {
		@apply !stroke-base-content/30;
	}

	tspan,
	.messageText,
	.nodeLabel {
		@apply !fill-base-content !text-base-content;
	}

	.edgePaths path {
		@apply !stroke-base-content/30;
	}

	marker {
		@apply !fill-base-content !stroke-base-content;
	}
}

#searchui {
	* {
		@apply text-base-content;
	}

	mark {
		@apply rounded-sm bg-primary text-primary-content underline;
	}

	input {
		@apply input input-bordered w-full text-base-content focus:input-accent sm:input-lg;
	}

	button {
		@apply btn btn-error btn-sm absolute right-2 mt-2 text-error-content sm:btn-md;
	}

	.pagefind-ui__drawer {
		@apply mt-4;
	}

	.pagefind-ui__message {
		@apply px-4;
	}

	.pagefind-ui__results {
		@apply grid grid-cols-1 gap-2;
	}

	.pagefind-ui__result {
		@apply flex flex-nowrap gap-4 rounded-box p-4 transition duration-300 ease-in-out hover:bg-base-200 hover:shadow-lg hover:drop-shadow-lg;
	}

	.pagefind-ui__result-thumb {
		/* thumbail container */
		@apply avatar;

		img {
			@apply h-24 max-h-24 w-32 max-w-32 rounded-box;
		}
	}

	.pagefind-ui__result-inner {
		/* title and description container  */
		@apply flex-1;
	}

	.pagefind-ui__result-title {
		@apply text-lg font-medium;
	}

	.pagefind-ui__result-link {
		@apply link;
	}
}
