@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Rock Salt";
	src: url("/fonts/rock-salt.woff2") format("woff2");
	font-weight: 400;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-100.woff2") format("woff2");
	font-weight: 100;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-300.woff2") format("woff2");
	font-weight: 300;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-400.woff2") format("woff2");
	font-weight: 400;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-700.woff2") format("woff2");
	font-weight: 700;
	display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-900.woff2") format("woff2");
	font-weight: 900;
	display: swap;
}

[id^="mermaid-"] {
	.edgeLabel {
		@apply !bg-base-200 !text-base-content;
	}

	foreignObject {
		@apply !h-6;
	}

	rohmbus,
	polygon,
	rect,
	circle,
	triangle {
		@apply !fill-base-200 !stroke-base-content/30;
	}

	line {
		@apply !stroke-base-content/30;
	}

	tspan,
	.messageText,
	.nodeLabel {
		@apply !fill-base-content !text-base-content;
	}

	.edgePaths path {
		@apply !stroke-base-content/30;
	}

	marker {
		@apply !fill-base-content !stroke-base-content;
	}
}
