---
import PageFind from "@/components/PageFind.astro";
---

<div
	class:list={[
		"mx-auto h-full max-w-7xl overflow-clip",
		"grid grid-cols-1 gap-4 gap-y-14 p-6 lg:gap-y-4 lg:px-16",
		"lg:grid-cols-[minmax(0,1fr),18.75rem]",
	]}
>
	<div class="relative w-full">
		<slot name="header" />

		<div class="my-8">
			<PageFind />
		</div>

		<slot name="body" />
	</div>

	<aside class="space-y-4 pb-12">
		<slot name="aside" />
	</aside>
</div>
