---
import "@/styles/breadcrumbs.css";
import {Breadcrumbs} from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
---

<div
	transition:name="breadcrumbs"
	class:list={["mx-auto max-w-6xl overflow-clip px-6 pt-6 xl:px-0"]}
>
	<Breadcrumbs>
		<svg
			slot="separator"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="h-5 w-5 stroke-base-content/60"
			><polyline points="9 18 15 12 9 6"></polyline>
		</svg>
	</Breadcrumbs>
</div>
