---
import "@/styles.css";
import Head from "@/layouts/Head.astro";
import Scripts from "@/layouts/Scripts.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import Footer from "@/components/footer/Footer.astro";
import ScrollWatcher from "@/components/ScrollWatcher.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body
		class:list={[
			"font-roboto font-light text-base-content antialiased",
			"transition duration-300 ease-in-out",
		]}
	>
		<ScrollWatcher />
		<Navbar />
		<slot />
		<Footer />
		<Scripts />
	</body>
</html>
