---
import "@/styles/global.css";
import "@fontsource-variable/raleway";
import "@fontsource-variable/inter";
import ScrollWatcher from "@/components/ScrollWatcher.astro";
import Footer from "@/components/footer/Footer.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import Head from "@/layouts/Head.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import type {Props as HeadProps} from "./Head.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Breadcrumbs from "@/layouts/BreadCrumbs.astro";

interface Props extends HeadProps {
	disableBreadcrumbs?: boolean;
}

const {disableBreadcrumbs, ...props} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head {...props} />
	</head>
	<body class="font-body antialiased">
		<ScrollWatcher />
		<Navbar />
		{!disableBreadcrumbs && <Breadcrumbs />}
		<slot />
		<Footer />
		<ScrollToTop />
		<SpeedInsights />
	</body>
</html>
