---
import "@/styles.css";
import Head from "@/layouts/Head.astro";
// import Scripts from "@/layouts/Scripts.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import Footer from "@/components/footer/Footer.astro";
import ScrollWatcher from "@/components/ScrollWatcher.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body
		class:list={[
			"text-base-content antialiased font-light font-roboto",
			"duration-300 ease-in-out transition",
		]}
	>
		<ScrollWatcher />
		<Navbar />
		<slot />
		<Footer />
		<!-- <Scripts /> -->
	</body>
</html>
