---
import "@/styles/global.css";
import ScrollWatcher from "@/components/ScrollWatcher.astro";
import Footer from "@/components/footer/Footer.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import Head from "@/layouts/Head.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import type {Props as HeadProps} from "./Head.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import Breadcrumbs from "@/layouts/BreadCrumbs.astro";
import NoiseFilter from "@/components/NoiseFilter.astro";

interface Props extends HeadProps {
	nocrumbs?: boolean;
}

const {nocrumbs, ...props} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head {...props} />
	</head>
	<body class="font-body antialiased">
		<NoiseFilter />
		<ScrollWatcher />
		<Navbar />
		{!nocrumbs && <Breadcrumbs />}
		<slot />
		<Footer />
		<ScrollToTop />
		<SpeedInsights />
	</body>
</html>
