---
import "@/styles/global.css";
import type {Props as HeadProps} from "./Head.astro";

import {ViewTransitions} from "astro:transitions";

import Footer from "@/components/Footer/Footer.astro";
import Navbar from "@/components/Navbar/Navbar.astro";
import Head from "@/layouts/Head.astro";

// import NoiseFilter from "@/components/NoiseFilter.astro";
import ScrollToTop from "@/components/ScrollToTop.astro";
import ScrollWatcher from "@/components/ScrollWatcher.astro";
import Breadcrumbs from "@/layouts/BreadCrumbs.astro";

interface Props extends HeadProps {
	nocrumbs?: boolean;
	viewTransition?: boolean;
}

const {nocrumbs, viewTransition = true, ...props} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head {...props} />
		{viewTransition && <ViewTransitions />}
	</head>
	<body class="font-body antialiased">
		<!-- <NoiseFilter /> -->
		<ScrollWatcher />
		<Navbar />
		{!nocrumbs && <Breadcrumbs />}
		<slot />
		<Footer />
		<slot name="scripts" />
		<ScrollToTop />
	</body>
</html>
