---
import ScrollWatcher from "@/components/ScrollWatcher.astro";
import Footer from "@/components/footer/Footer.astro";
import Navbar from "@/components/navbar/Navbar.astro";
import Head from "@/layouts/Head.astro";
import Scripts from "@/layouts/Scripts.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import "@/styles.css";
import type {Props as HeadProps} from "./Head.astro";
import {ViewTransitions} from "astro:transitions";
import SiteUnderDevelopment from "@/components/SiteUnderDevelopment.astro";

interface Props extends HeadProps {
	viewTransitions?: boolean;
}

const {viewTransitions = false, ...props} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Head {...props} />
		{viewTransitions && <ViewTransitions />}
	</head>
	<body
		class:list={[
			"font-body font-light text-base-content antialiased",
			"transition duration-300 ease-in-out",
		]}
	>
		<ScrollWatcher />
		<SiteUnderDevelopment />
		<Navbar />
		<slot />
		<Footer />
		<Scripts />
		<SpeedInsights />
	</body>
</html>
